<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Koch Trainer</title>

		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">

		<link rel="stylesheet" type="text/css" href="../css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/main.css" />

		<script type="module" src="../scripts/main.js"></script>
	</head>
	<body>
		<web-koch-trainer></web-koch-trainer>
	</body>
</html>